<%=render "shared/header"%>

<div class="header-height">

<div>
  <div class="tesma-introduction">
    <h1>理想の体をあなたの手に</h1>
    <h1>宇宙一シンプルに</h1>
    <%=image_tag 'yogamat.jpg', class: "yogamat"%>
  </div>
  <div class="last-logic">
     <p class="tesma-main-purpose">
     TESMAとは、リバウンドのしにくい理想の体型を手に入れるための自己管理ツールです。
     </p>
     <div class="point-content">
     <%=image_tag 'point_logo.png', class: "point-logo"%>
     <div class="point-introduction"> 
       <div class="point-image-box">
       <%=image_tag 'rikuzyou_logo.jpeg',class: "point-logos"%>
       <p>・目標体重設定
       <br>
       理想の体重を設定し、自動で1日あたりの摂取カロリーが算出されるので目安を把握できます。
       </p>
       </div>
       <div class="point-image-box">
       <%=image_tag 'salada.jpeg',class: "point-logos"%>
       <p>・摂取カロリー管理
       <br>
       カロリー計算機能を使い、日々の食事のカロリー計算と同時に計算結果を保存し管理します。
       </p>
       </div>
       <div class="point-image-box">
       <%=image_tag 'training.png',class: "point-logos"%>
       <p>・基礎代謝の維持、向上
       <br>
       <span class='red-important'>＊重要
       <br>
       摂取カロリー制限だけでなく筋力トレーニングやストレッチなどで基礎代謝を維持、向上させます。なぜ重要か気になった方は<%=link_to 'こちら', "#", class: "click-button"%></span>
       </p>
       </div>
       <div class="point-image-box">
       <%=image_tag 'gurahu.jpeg',class: "point-logos"%>
       <p>・目標進捗グラフ
       <br>
       摂取カロリーの保存、基礎代謝量の管理により、設定した目標の進捗をグラフで確認することができます。
       </p>
       </div>
     </div>
     <div class="concept-link">
        <p>さぁ、目標を設定し理想の体を手に入れましょう！
        <br>
        TESMAについてもう少し知りたい方は<%=link_to 'こちら', '#', class: "click-button"%>
        </p>
     </div>
  </div>
</div>

</div>


<%= render "shared/footer"%>