<div class="header-content">
  <div class="header-logo">
    <%= link_to image_tag("tesma_logo.jpeg", class: "tesma_logo_icon"),"/"%>
  </div>
  <div class="header-row">
    <div class="select-block">
      <ul class="select-list">
        <%= link_to  "#" do%>
        <li>カロリー計算</li>
        <%end%>
        <%= link_to  "#" do%>
        <li>基礎代謝計算</li>
        <%end%>
        <%= link_to  "#" do%>
        <li>目標設定</li>
        <%end%>
        <%= link_to  "#" do%>
        <li>目標進捗</li>
        <%end%>
      </ul>
    </div>
    <div class="user-relation">
      <ul class="session-user">
        <li><%=link_to "ユーザー名", "#"%></li>
        <li><%=link_to "ログイン", "#"%></li>
        <li><%=link_to "ログアウト", "#"%></li>
      </ul>
    </div>
  </div>
</div>

<div>
  <div class="tesma-introduction">
    <h1>理想の体をあなたの手に</h1>
    <h1>宇宙一シンプルに</h1>
    <%=image_tag 'yogamat.jpg', class: "yogamat"%>
  </div>
  <div>
    本アプリで行ってもらうこと
    
  </div class="tesma-about">
    <h2>TESMAとは</h2>
    <p class="tesma-about-p">The essential self management(本質的な自身の管理)の略称です。
    <br>
      現代では、様々なダイエット法や食事制限での減量などの情報で溢れていますが、
    <br>
    例えば食事制限を行うようなダイエットでは、
    「<span>リバウンドしやすい</span>」
    「<span>長続きしない</span>」
    「<span>体重は減ったけど十分な栄養を摂取できていない</span>」
    などの声が非常に多いと感じます。
     <br>
     理想は、体重計に乗った時の数字が瞬間的に減ったかどうかではなく、
     <br>
     <span>長期的に継続することができ、理想の体型を維持することがダイエットの本質ではないでしょうか。</span>
     <br>
      そこで本アプリでは、過度な食事制限はせず、リバウンドのしにくい理想の体を手に入れることに重点を置いています。
    </p>
</div>


<div class="footer-content">
  <div class="footer-logo">
    <%= link_to image_tag("tesma_logo_footer.jpeg", class: "tesma_logo_icon footer-icon"),"/"%>
  </div>
</div>