<%=render "shared/header"%>


<div>
  <div class="tesma-introduction">
    <h1>理想の体をあなたの手に</h1>
    <h1>宇宙一シンプルに</h1>
    <%=image_tag 'yogamat.jpg', class: "yogamat"%>
  </div>
  <div class="last-logic">
     <p class="tesma-main-purpose">
     TESMAとは、リバウンドのしにくい理想の体型を手に入れるための自己管理ツールです。
     </p>
     <div class="point-content">
     <%=image_tag 'point_logo.png', class: "point-logo"%>
     <div class="point-introduction"> 
       <div class="point-image-box">
       <%=image_tag 'rikuzyou_logo.jpeg',class: "point-logos"%>
       <p>・目標体重設定
       <br>
       理想の体重を設定し、自動で1日あたりの摂取カロリーが算出されるので目安を把握できます。
       </p>
       </div>
       <div class="point-image-box">
       <%=image_tag 'salada.jpeg',class: "point-logos"%>
       <p>・摂取カロリー管理
       <br>
       カロリー計算機能を使い、日々の食事のカロリー計算と同時に計算結果を保存し管理します。
       </p>
       </div>
       <div class="point-image-box">
       <%=image_tag 'training.png',class: "point-logos"%>
       <p>・基礎代謝の維持、向上
       <br>
       <span class='red-important'>＊重要
       <br>
       摂取カロリー制限だけでなく筋力トレーニングやストレッチなどで基礎代謝を維持、向上させます。なぜ重要か気になった方は<%=link_to 'こちら', "#", class: "click-button"%></span>
       </p>
       </div>
       <div class="point-image-box">
       <%=image_tag 'gurahu.jpeg',class: "point-logos"%>
       <p>・目標進捗グラフ
       <br>
       摂取カロリーの保存、基礎代謝量の管理により、設定した目標の進捗をグラフで確認することができます。
       </p>
       </div>
     </div>
     <div class="concept-link">
        <p>さぁ、目標を設定し理想の体を手に入れましょう！
        <br>
        TESMAについてもう少し知りたい方は<%=link_to 'こちら', '#', class: "click-button"%>
        </p>
     </div>
  </div>
  <div class="logic-content">
    <p>
    <span class="last-logic-str">体脂肪を落とす計算式</span>
    <br>
    <span class="main-logic-str">（基礎代謝量　✖️　生活強度指数）ー　食事による摂取カロリー　＝　（ここの数字が１以上になれば体脂肪が減り、痩せていきます）</span>
    <br>
    <%=image_tag 'keisansiki_image.png', class: "main-logic-image"%>
    </p>
  </div>
  <div class="tesma-about">
    <h2>TESMAとは</h2>
    <p class="tesma-about-p">The essential self management(本質的な自身の管理)の略称です。
    <br>
      現代では、様々なダイエット法や食事制限での減量などの情報で溢れていますが、
    <br>
    例えば食事制限を行うようなダイエットでは、
    <br>
    ・「<span>リバウンドしやすい</span>」
    <br>
    ・「<span>長続きしない</span>」
    <br>
    ・「<span>体重は減ったけど十分な栄養を摂取できていない</span>」
    <br>
    などの声が非常に多いように感じます。
     <br>
     理想は、体重計に乗った時の数字が瞬間的に減ったかどうかではなく、
     <br>
     <span>長期的に継続することができ、理想の体型を維持することがダイエットの本質ではないでしょうか。</span>
     <br>
      そこで本アプリでは、設定された目標体重から1日の摂取カロリーを算出し、基礎代謝の維持や向上をしてもらうことで、計画的に理想に近づくことができます。
      <br>
      過度な食事制限はせず、リバウンドのしにくい理想の体を手に入れましょう。
    </p>
    </div>
</div>


<%= render "shared/footer"%>