<%=render "shared/header"%>

<div class="header-height max-height">
  <div id="calory-content">
   <p class="calory-sum">カロリー計算</p>
    <div class="calory-sum-box">
    
      <div class="sum-left">
      <%=form_with local: true do |f|%>
        <p>カロリー計算結果</p>
        <%=f.text_field :calory, id: "math-all"%>
        <div class="calory-button">
        <%=f.submit '保存', id: "math-data"%>
         <%=f.submit 'リセット', id: "reset-button"%>
         </div>
        <p class="select-food-name">選択食材</p>
        <ul id="add-text">
        </ul>
         <% end %>
       </div>
       <div class="eat-menu">
         <div id="eat-food-box">
         <%=form_with  id: "menu-data",local: true, method: :get do |f|%>
          <div id="meat-box">
             <div id="meat-from-name">
              <p>＊クリックされた方のデータで計算します</p>
              <p class="small-p">--クリックすると入力画面が表示されます--</p>
              <ul class="from-meat">
              <li id="japan-meat">国産</li>
              <li id="overseas-meat">輸入</li>
               </ul>
             </div>
             <div id="select-food-form">
              <!-- 牛肉 ------------------------------------------------------>
             <div id="meat-content">
             <p class="food-title">牛肉</p>
             <ul class="food-weight">

             <% @meat_data.each do |menu|%>
              <div class="food-flex">
             <li id="menu-name-<%=menu.id%>"><%= menu.name %></li>
             <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>g
             <input id=<%="kcalmenu#{menu.id}"%> type="hidden" data-calory=<%=menu.calory%> data-calory2=<%=menu.calory2%> data-id=<%=menu.id%> >
             </div>
             <% end %>
             <%=render "shared/hidden_add"%>
             </ul>
             </div>
               <!-- 牛肉 ------------------------------------------------------>

             <!-- 豚肉 ------------------------------------------------------>
            <div id="pig-content">
            <p class="food-title">豚肉</p>
             <ul class="food-weight">
             
             <% @pig_data.each do |menu|%>
              <div class="food-flex">
             <li id="menu-name-<%=menu.id%>"><%= menu.name %></li>
             <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>g
             <input id=<%="kcalmenu#{menu.id}"%> type="hidden" data-calory=<%=menu.calory%> data-id=<%=menu.id%>>
             </div>
             <% end %>
              <%=render "shared/hidden_add"%>
             </ul>
             </div>

            <!-- 豚肉 ------------------------------------------------------------>

            <!-- 鶏肉 ------------------------------------------------------------>
             <div id="bird-content">
            <p class="food-title">鶏肉</p>
             <ul class="food-weight">
             <% @bird_data.each do |menu|%>
              <div class="food-flex">
             <li id="menu-name-<%=menu.id%>"><%= menu.name %></li>
             <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>g
             <input id=<%="kcalmenu#{menu.id}"%> type="hidden" data-calory=<%=menu.calory%> data-id=<%=menu.id%>>
             </div>
             <% end %>
             <%=render "shared/hidden_add"%>
             </ul>
             </div>
            <!-- 鶏肉 ------------------------------------------------------------>

            <!-- 卵 ------------------------------------------------------------>
            <div id="egg-content">
            <p class="food-title">卵</p>
            <p class="small-p">--黄身と卵白は卵一個あたりに含まれるそれぞれのカロリー数で計算します--</p>
             <ul class="food-weight">
             <% @egg_data.each do |menu|%>
              <div class="food-flex">
             <li id="menu-name-<%=menu.id%>"><%= menu.name %></li>
             <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>個
             <input id=<%="kcalmenu#{menu.id}"%> type="hidden" data-calory=<%=menu.calory%> data-id=<%=menu.id%>>
             </div>
             <% end %>
             <div class="hidden-field wrap-hidden1">
                <li id="hidden1">ooo</li>
                <input  class= "menu-name">個
              </div>
              <div class="hidden-field wrap-hidden2">
                <li id="hidden2">ooo</li>
                <input class= "menu-name">個
              </div>
            <div class="hidden-field wrap-hidden3">
             <li id="hidden3">ooo</li>
             <input class= "menu-name">個
            </div>
             </ul>
             </div>
            <!-- 卵 ------------------------------------------------------------>

            <!-- 魚 ------------------------------------------------------------>
            <div id="fish-content">
            <p class="food-title">魚</p>
             <ul class="food-weight">
             <% @fish_data.each do |menu|%>
              <div class="food-flex">
             <li id="menu-name-<%=menu.id%>"><%= menu.name %></li>
             <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>g
             <input id=<%="kcalmenu#{menu.id}"%> type="hidden" data-calory=<%=menu.calory%> data-id=<%=menu.id%>>
             </div>
             <% end %>
             <%=render "shared/hidden_add"%>
             </ul>
             </div>
            <!-- 魚 ------------------------------------------------------------>

            <!-- 貝 ------------------------------------------------------------>
            <div id="shellfish-content">
            <p class="food-title">貝</p>
             <ul class="food-weight">
             <% @shell_fish_data.each do |menu|%>
              <div class="food-flex">
             <li id="menu-name-<%=menu.id%>"><%= menu.name %></li>
             <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>g
             <input id=<%="kcalmenu#{menu.id}"%> type="hidden" data-calory=<%=menu.calory%> data-id=<%=menu.id%>>
             </div>
             <% end %>
             <%=render "shared/hidden_add"%>
             </ul>
             </div>
            <!-- 貝 ------------------------------------------------------------>

            <!-- エビ、カニ ------------------------------------------------------------>
            <div id="seafood-content">
            <p class="food-title">エビ、カニ、イカ、タコ</p>
             <ul class="food-weight">
             <% @seafood_data.each do |menu|%>
              <div class="food-flex">
             <li id="menu-name-<%=menu.id%>"><%= menu.name %></li>
             <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>g
             <input id=<%="kcalmenu#{menu.id}"%> type="hidden" data-calory=<%=menu.calory%> data-id=<%=menu.id%>>
             </div>
             <% end %>
             <%=render "shared/hidden_add"%>
             </ul>
             </div>
            <!-- エビ、カニ ------------------------------------------------------------>

             <!-- 水産練り物 ------------------------------------------------------------>
            <div id="paste-content">
            <p class="food-title">水産練り物</p>
             <ul class="food-weight">
             <% @paste_data.each do |menu|%>
              <div class="food-flex">
             <li id="menu-name-<%=menu.id%>"><%= menu.name %></li>
             <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>g
             <input id=<%="kcalmenu#{menu.id}"%> type="hidden" data-calory=<%=menu.calory%> data-id=<%=menu.id%>>
             </div>
             <% end %>
             <%=render "shared/hidden_add"%>
             </ul>
             </div>
            <!-- 水産練り物 ------------------------------------------------------------>

            <!-- 魚卵 ------------------------------------------------------------>
            <div id="fish-egg-content">
            <p class="food-title">魚卵</p>
             <ul class="food-weight">
             <% @fish_egg_data.each do |menu|%>
              <div class="food-flex">
             <li id="menu-name-<%=menu.id%>"><%= menu.name %></li>
             <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>g
             <input id=<%="kcalmenu#{menu.id}"%> type="hidden" data-calory=<%=menu.calory%> data-id=<%=menu.id%>>
             </div>
             <% end %>
             <%=render "shared/hidden_add"%>
             </ul>
             </div>
            <!-- 魚卵 ------------------------------------------------------------>

            <!-- 藻、海藻 ------------------------------------------------------------>
            <div id="seaweed-content">
            <p class="food-title">藻、海藻</p>
             <ul class="food-weight">
             <% @seaweed_data.each do |menu|%>
              <div class="food-flex">
             <li id="menu-name-<%=menu.id%>"><%= menu.name %></li>
             <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>g
             <input id=<%="kcalmenu#{menu.id}"%> type="hidden" data-calory=<%=menu.calory%> data-id=<%=menu.id%>>
             </div>
             <% end %>
             <%=render "shared/hidden_add"%>
             </ul>
             </div>
            <!-- 藻、海藻 ------------------------------------------------------------>

            <!-- 米、餅など ------------------------------------------------------------>
            <div id="rice-content">
            <p class="food-title">米、餅、パン</p>
            <p class="small-p">--目安（ご飯は茶碗に小盛りで120g、普通盛りで150g、大盛りで200g）--</p>
             <ul class="food-weight">
              <% @rice_data.each do |menu|%>
              <div class="food-flex">
                <li id="menu-name-<%=menu.id%>"><%= menu.name %></li>
                 <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>g
                 <input id=<%="kcalmenu#{menu.id}"%> type="hidden" data-calory=<%=menu.calory%> data-id=<%=menu.id%>>
              </div>
              <% end %>
              <%=render "shared/hidden_add"%>
             </ul>
             </div>
            <!-- 米、餅など ------------------------------------------------------------>

            <!-- 野菜 ------------------------------------------------------------>
            <div id="vegetable-content">
            <p class="food-title">野菜</p>
             <ul class="food-weight">
              <% @vegetable_data.each do |menu|%>
              <div class="food-flex">
                <li id="menu-name-<%=menu.id%>"><%= menu.name %></li>
                 <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>g
                 <input id=<%="kcalmenu#{menu.id}"%> type="hidden" data-calory=<%=menu.calory%> data-id=<%=menu.id%>>
              </div>
              <% end %>
              <%=render "shared/hidden_add"%>
             </ul>
             </div>

            <!-- 野菜 ------------------------------------------------------------>

            <!-- 麺類 ------------------------------------------------------------>
            <div id="noodle-content">
            <p class="food-title">麺類</p>
             <ul class="food-weight">
              <% @noodle_data.each do |menu|%>
              <div class="food-flex">
                <li id="menu-name-<%=menu.id%>"><%= menu.name %></li>
                 <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>g
                 <input id=<%="kcalmenu#{menu.id}"%> type="hidden" data-calory=<%=menu.calory%> data-id=<%=menu.id%>>
              </div>
              <% end %>
              <%=render "shared/hidden_add"%>
             </ul>
             </div>
            <!-- 麺類 ------------------------------------------------------------>
 
            <!-- 豆類 ------------------------------------------------------------>
            <div id="bean-content">
            <p class="food-title">豆類</p>
             <ul class="food-weight">
             <% @bean_data.each do |menu|%>  
              <div class="food-flex">
                <li id="menu-name-<%=menu.id%>"><%= menu.name %></li>
                 <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>g
                 <input id=<%="kcalmenu#{menu.id}"%> type="hidden" data-calory=<%=menu.calory%> data-id=<%=menu.id%>>
              </div>
              <% end %>
              <%=render "shared/hidden_add"%>
             </ul>
             </div> 
            <!-- 豆類 ------------------------------------------------------------>

            <!-- 種実 ------------------------------------------------------------>
            <div id="nut-content">
            <p class="food-title">種実</p>
             <ul class="food-weight">
             <% @nut_data.each do |menu|%>  
              <div class="food-flex">
                <li id="menu-name-<%=menu.id%>"><%= menu.name %></li>
                 <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>g
                 <input id=<%="kcalmenu#{menu.id}"%> type="hidden" data-calory=<%=menu.calory%> data-id=<%=menu.id%>>
              </div>
              <% end %>
              <%=render "shared/hidden_add"%>
             </ul>
             </div> 
            <!-- 種実 ------------------------------------------------------------>

            <!-- 芋類 ------------------------------------------------------------>
            <div id="potato-content">
            <p class="food-title">いも</p>
             <ul class="food-weight">
             <% @potato_data.each do |menu|%>  
              <div class="food-flex">
                <li id="menu-name-<%=menu.id%>"><%= menu.name %></li>
                 <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>g
                 <input id=<%="kcalmenu#{menu.id}"%> type="hidden" data-calory=<%=menu.calory%> data-id=<%=menu.id%>>
              </div>
              <% end %>
              <%=render "shared/hidden_add"%>
             </ul>
             </div> 
            <!-- 芋類 ------------------------------------------------------------>

            <!-- 果物 ------------------------------------------------------------>
            <div id="fruit-content">
            <p class="food-title">果物</p>
             <ul class="food-weight">
             <% @fruit_data.each do |menu|%>  
              <div class="food-flex">
                <li id="menu-name-<%=menu.id%>"><%= menu.name %></li>
                 <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>g
                 <input id=<%="kcalmenu#{menu.id}"%> type="hidden" data-calory=<%=menu.calory%> data-id=<%=menu.id%>>
              </div>
              <% end %>
              <%=render "shared/hidden_add"%>
             </ul>
             </div> 
            <!-- 果物 ------------------------------------------------------------>

            <!-- きのこ ------------------------------------------------------------>
            <div id="mushroom-content">
            <p class="food-title">きのこ</p>
             <ul class="food-weight">
             <% @mushroom_data.each do |menu|%>  
              <div class="food-flex">
                <li id="menu-name-<%=menu.id%>"><%= menu.name %></li>
                 <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>g
                 <input id=<%="kcalmenu#{menu.id}"%> type="hidden" data-calory=<%=menu.calory%> data-id=<%=menu.id%>>
              </div>
              <% end %>
              <%=render "shared/hidden_add"%>
             </ul>
             </div> 
            <!-- きのこ ------------------------------------------------------------>

            <!-- 乳製品 ------------------------------------------------------------>
            <div id="milk-content">
            <p class="food-title">乳製品</p>
             <ul class="food-weight">
             <% @milk_data.each do |menu|%>  
              <div class="food-flex">
                <li id="menu-name-<%=menu.id%>"><%= menu.name %></li>
                 <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>g
                 <input id=<%="kcalmenu#{menu.id}"%> type="hidden" data-calory=<%=menu.calory%> data-id=<%=menu.id%>>
              </div>
              <% end %>
              <%=render "shared/hidden_add"%>
             </ul>
             </div> 
            <!-- 乳製品 ------------------------------------------------------------>

            <!-- 油 ------------------------------------------------------------>
            <div id="oil-content">
            <p class="food-title">油</p>
            <p class="small-p">--油は、どの種類でもカロリーはほとんど変わらないため一律で計算します--</p>
            <p class="small-p">--大さじ、小さじの部分には使用した杯数を入力してください--</p>
             <ul class="food-weight">
             <% @oil_data.each_with_index do |menu, i|%>  
              <div class="food-flex">
                <li id="menu-name-<%=menu.id%>"><%= menu.name %></li>
                <% if i == 0 %>
                 <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>g
                 <%else%>
                 <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>杯
                 <%end%>
                 <input id=<%="kcalmenu#{menu.id}"%> type="hidden" data-calory=<%=menu.calory%> data-id=<%=menu.id%>>
              </div>
              <% end %>
              <%=render "shared/hidden_add"%>
             </ul>
             </div> 
            <!-- 油 ------------------------------------------------------------>

            <!-- 調味料 ------------------------------------------------------------>
            <div id="seasoning-content">
            <p class="food-title">調味料</p>
            <p class="small-p">--塩のカロリーは0であるため表示していません--</p>
             <ul class="food-weight">
             <% @seasoning_data.each do |menu|%>  
              <div class="food-flex">
                <li id="menu-name-<%=menu.id%>"><%= menu.name %></li>
                 <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>g
                 <input id=<%="kcalmenu#{menu.id}"%> type="hidden" data-calory=<%=menu.calory%> data-id=<%=menu.id%>>
              </div>
              <% end %>
              <%=render "shared/hidden_add"%>
             </ul>
             </div> 
            <!-- 調味料 ------------------------------------------------------------>

             <div class="ok-button" id="button-none">
               <%=f.submit "OK", id: "meat-submit"%>
             </div>
             </div>
           </div>
         </div>

         <% end %>
          <div class="calory-box">
           <div class="select-food">
           <p>材料選択</p>
           <ul class="material">
             <li id="meat">牛肉</li>
            <li id="pig">豚肉</li>
            <li id="bird">鶏肉</li>
            <li id="egg">卵</li>
            <li id="fish">魚</li>
            <li id="shellfish">貝</li>
            <li id="seafood">エビ・カニ・イカ・タコ</li>
            <li id="paste">水産練り物</li>
            <li id="fish-egg">魚卵</li>
            <li id="seaweed">藻、海藻</li>
            <li id="rice">米・餅・パン</li>
            <li id="vegetable">野菜</li>
            <li id="noodle">麺類</li>
            <li id="bean">豆類</li>
            <li id="nut">種実</li>
            <li id="potato">いも</li>
            <li id="fruit">果物</li>
            <li id="mushroom">きのこ</li>
            <li id="milk">乳製品</li>
            <li id="oil">油</li>
            <li id="seasoning">調味料</li>
          </ul>
         </div>
        </div>
       </div>
    </div>
  </div>
  <%= render "shared/footer"%>
</div>


