<%=render "shared/header"%>

<div class="header-height">
  <div class="calory-content">
   <p class="calory-sum">カロリー計算</p>
    <div class="calory-sum-box">
    
      <div class="sum-left">
      <%=form_with local: true do |f|%>
        <p>カロリー計算結果</p>
        <%=f.text_field :calory, id: "math-all"%>
        <div class="calory-button">
        <%=f.submit '保存', id: "math-data"%>
         <%=f.submit 'リセット', id: "reset-button"%>
         </div>
        <p class="select-food-name">選択食材</p>
        <ul id="add-text">
        </ul>
         <% end %>
       </div>
       <div class="eat-menu">
         <div class="eat-food-box">
         <%=form_with  id: "menu-data",local: true, method: :get do |f|%>
          <div id="meat-box">
             <div>
              <p>＊クリックされた方のデータで計算します</p>
              <p class="small-p">--クリックすると入力画面が表示されます--</p>
              <ul class="from-meat">
              <li id="japan-meat">国産</li>
              <li id="overseas-meat">輸入</li>
               </ul>
             </div>
             <div id="select-food-form">
             <ul class="food-weight">

             <% @menu_data.each do |menu|%>
              <div class="food-flex">
             <li id="menu-name-<%=menu.id%>"><%= menu.name %></li>
             <%=f.number_field :"menu#{menu.id}", class: "menu-name"%>g
             <input id=<%="kcalmenu#{menu.id}"%> type="hidden" data-calory=<%=menu.calory%> data-calory2=<%=menu.calory2%> data-id=<%=menu.id%> >
             </div>
             <% end %>

             </ul>
            
             <div class="ok-button">
               <%=f.submit "OK", id: "meat-submit"%>
             </div>
             </div>
           </div>
         </div>
         <% end %>
          <div class="calory-box">
           <div class="select-food">
           <p>材料選択</p>
           <ul class="material">
             <li id="meat">牛肉</li>
            <li>豚肉</li>
            <li>鶏肉</li>
            <li>卵</li>
            <li>魚</li>
            <li>米・餅・パン</li>
            <li>野菜</li>
            <li>麺類・とうもろこし</li>
            <li>豆類</li>
            <li>種実</li>
            <li>いも</li>
            <li>果物</li>
            <li>きのこ</li>
            <li>藻</li>
            <li>貝</li>
            <li>エビ・カニ・イカ・タコ</li>
            <li>水産練り物</li>
            <li>乳製品</li>
            <li>油・バター</li>
            <li>飲み物</li>
            <li>調味料</li>
          </ul>
         </div>
        </div>
       </div>
    </div>
  </div>
  <%= render "shared/footer"%>
</div>

