<%=render "shared/header"%>

<div class="tesma-about content-color">
<div class="tesma-about-content">
  <div class="about-lists">
    <div class="lists-fixed">
    <h2>TESMAについて</h2>
    <ul class="about-lists-box">
      <li id="concept-link-button">コンセプト</li>
      <li id="math-calory">体脂肪を落とす計算式</li>
      <li id="basal-about">基礎代謝をあげるとどうなるのか</li>
    </ul>
    </div>
  </div>
  <div class="selected-list">

    <%= render 'shared/tesma_introduction'%>

    <%= render 'shared/down_logic'%>

    <%=render 'shared/basal_about'%>
  </div>
</div>
  <%= render "shared/footer"%>
</div>
