<%=render "shared/header"%>

<div class="header-height content-color">
  <% if flash[:notice]%> 
  <div id="flash-bar">
  <p><%=flash[:notice]%></p>
  </div>
  <% end %>
 <div class="metabo-content" id="metabo-button">
   <p class="metabo-title">基礎代謝管理</p>
  <%=form_with model: @user,class: "metabo-form",url: user_path(@user), local: true do |f|%>
    <%= render 'shared/error_messages', model: f.object%>
    <div>
      <p>現在の基礎代謝量</p>
      <p id="kcal-num"><%="#{@user.metabolism}kcal" %></p>
    </div>
    <div class="this-view">
      <p id="metabo-update-about">ーー身長、体重、年齢に変化があれば、下記に入力することで基礎代謝量が更新されますーー</p>
    </div>
    <div>
      <div>
        <ul id="update-meta" data-sex=<%=@user.sex_id%>>
          <li>身長(cm)</li>
          <li class="field-meta"><%=f.text_field :stature,value: @user.stature, class: "value-text"%></li>
          <li>体重(kg)</li>
          <li class="field-meta"><%=f.text_field :weight,value: @user.weight, class: "value-text" %></li>
          <li>年齢</li>
          <li class="field-meta"><%=f.text_field :age,value: @user.age, class: "value-text" %></li>
        </ul>
      </div>
      <%=f.submit "更新", id: "submit-meta"%>
    </div>
  <% end %>
</div>
<%=render "shared/footer"%>
</div>