<div id="header-content">
  <div class="header-box">
  <div class="header-logo">
    <%= link_to image_tag("tesma_logo.jpeg", class: "tesma_logo_icon"),"/"%>
  </div>
  <div class="user-relation">
      <ul class="session-user">
      <% if user_signed_in?%>
        <li><%=link_to current_user.name, "#"%></li>
        <li><%=link_to "ログアウト",  destroy_user_session_path ,method: :delete%></li>
        <% else%>
        <li><%=link_to "ログイン", new_user_session_path %></li>
        <li><%=link_to "新規登録", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
    </div>
  <div class="header-row">
    <div class="select-block">
      <ul class="select-list">
        <%= link_to  new_calory_path do%>
        <li>カロリー計算</li>
        <%end%>
        <%= link_to  metabolism_users_path do%>
        <li>基礎代謝管理</li>
        <%end%>
        <%= link_to  new_target_path do%>
        <li>目標設定</li>
        <%end%>
        <%= link_to  target_index_targets_path do%>
        <li>目標進捗</li>
        <%end%>
        <%= link_to (tesma_about_calories_path) do%>
        <li>TESMAについて</li>
        <%end%>
      </ul>
    </div>
  </div>
</div>