<%= render "shared/logo_short"%>

<div class="user-sign-in">
<%= form_with model: @user, url: user_session_path, class: "new-user", local: true do |f| %>

   
<div class="field-box">
   <p class="alert-session"><%=flash[:alert] %></p>
  <div class="field">
    <h1>ログイン</h1>
  </div>
  <div class="field">
    <p>メールアドレス</p>
    <%=f.email_field :email%>
  </div>

  <div class="field">
    <p>パスワード</p>
    <%=f.password_field :password ,placeholder: "6文字以上の半角英数字で入力してください"%>
  </div>

  <div class='register-btn'>
    <%= f.submit "ログイン" ,class:"register-red-btn" %>
  </div>

    <p class="no-session-user"><%=link_to '新規登録はこちら', new_user_registration_path %></p>
</div>
<% end %>
  </div>
<%= render "shared/logo_short"%>
